<div *ngIf="especie" class="detalle-container">

  <h2>{{ especie.nombreComun }}</h2>
  <h4><i>{{ especie.nombreCientifico }}</i></h4>

  <p><strong>Descripción:</strong> {{ especie.descripcion }}</p>
  <p><strong>Familia:</strong> {{ especie.familia }}</p>
  <p><strong>Tipo:</strong> {{ especie.tipoEspecie }}</p>

  <div class="bloque">
    <h3>Características Morfológicas</h3>
    <p><strong>Color:</strong> {{ especie.caracteristicasMorfo?.color }}</p>
    <p><strong>Tamaño Alas:</strong> {{ especie.caracteristicasMorfo?.tamanoAlas }}</p>
    <p><strong>Forma Antenas:</strong> {{ especie.caracteristicasMorfo?.formaAntenas }}</p>
  </div>

  <div class="bloque">
    <h3>Imágenes Detalladas</h3>
    <img *ngIf="especie.imagenesDetalladas?.alaIzquierda" [src]="getImagenDetallada('alaIzquierda')" style="width:120px; height:auto;">
    <img *ngIf="especie.imagenesDetalladas?.alaDerecha" [src]="getImagenDetallada('alaDerecha')" style="width:120px; height:auto;">
    <img *ngIf="especie.imagenesDetalladas?.antenas" [src]="getImagenDetallada('antenas')" style="width:120px; height:auto;">
    <img *ngIf="especie.imagenesDetalladas?.cuerpo" [src]="getImagenDetallada('cuerpo')" style="width:120px; height:auto;">
  </div>

</div>
