<div class="app-container">

  <div class="top-bar">
    <button class="btn-logout" (click)="logout()">Salir</button>
  </div>

  <aside class="left-panel">
    <h3>Especies</h3>

    <button 
      *ngIf="userRole === 'administrador'"
      class="btn-crear"
      (click)="crearEspecie()">
      Crear especie
    </button>

    <div class="lista-especies">
      <div *ngFor="let especie of especiesFiltradas" class="item-especie">
        <span>{{ especie.nombreComun }}</span>
        <div class="acciones">
        <button class="btn-ver" (click)="seleccionar(especie)">Ver</button>
        <button 
          *ngIf="userRole === 'administrador'"
          class="btn-eliminar"
          (click)="eliminarEspecie(especie.id)">
          🗑
        </button>
        </div>
      </div>
    </div>

    <hr>

    <h3>Datos</h3>

    <div class="dato"><strong>ID:</strong> {{ especieSeleccionada?.id || '—' }}</div>
    <div class="dato"><strong>Nombre:</strong> {{ especieSeleccionada?.nombreComun || '—' }}</div>
    <div class="dato"><strong>Científico:</strong> {{ especieSeleccionada?.nombreCientifico || '—' }}</div>

    <div class="dato">
      <strong>Observaciones:</strong>
    </div>

    <!-- LISTA DE OBSERVACIONES -->
    <div class="obs-list">
      <div *ngFor="let o of observaciones" class="obs-item">
        <strong>{{ o.usuarioId }}:</strong>
        <p>{{ o.comentario }}</p>
        <small>{{ o.fecha | date:'short' }}</small>
        <hr>
      </div>
    </div>

    <!-- AGREGAR NUEVA -->
    <div class="nueva-obs">
      <textarea [(ngModel)]="nuevaObservacion" placeholder="Agregar observación..."></textarea>
      <button class="btn-nav" (click)="guardarObservacion()">Guardar</button>
    </div>
    <button class="btn-nav" [disabled]="!especieSeleccionada" (click)="irAImagenes()">Ver Imágenes</button>
    <button class="btn-nav" (click)="irAObservaciones()">Ver Observaciones</button>
    <button class="btn-nav" (click)="irAMapa()">Ver Mapa</button>
  </aside>

  <section class="center-panel">

    <div class="search-box">
      <input 
        type="text"
        [(ngModel)]="busqueda"
        (input)="filtrar()"
        placeholder="Buscar especie...">
    </div>

    <!-- Imagen + flechas -->
    <div class="img-container">
      <button class="arrow left" (click)="anterior()">&lt;</button>
      <img [src]="getImagenActual()" alt="mariposa">
      <button class="arrow right" (click)="siguiente()">&gt;</button>
    </div>

    <button class="btn-identificar" (click)="identificar()">
      Identificar
    </button>

  </section>

  <aside class="right-panel">
    <div class="lista">
      <app-detalle-especie
        *ngIf="especieSeleccionada"
        [especie]="especieSeleccionada">
      </app-detalle-especie>
    </div>
  </aside>

</div>
